
.dTreeNode a {
    margin-left: 3px;
}

div.dokuwiki div#dokubook_container_left {
    left: 260px;
}

div.dokuwiki div#sidebar_left {
    width: 250px;
}

div.dokuwiki form#dw__search input.edit {
    width: 226px;
}

.logo {
    display: block;
}

